@font-face {
    font-family: Gilroy;
    src: url(assets/fonts/Gilroy-Regular.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(assets/fonts/Gilroy-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(assets/fonts/Gilroy-Bold.ttf);
    font-weight: 700;
}


    input {
      width: 200px;
      height: 20px;
      border: 1px solid black;
      padding: 3px;
      font-family: Gilroy-SemiBold;
    }

    #btn1 {
      font-size: 15px;
      margin: auto;
      position: absolute;
      font-family: Gilroy-Bold;
      letter-spacing: 0.3rem;
      margin: 0;
      position: absolute;
      bottom: 15%;
      left: 30%;
      right: 30%;
      padding: 0.5rem;


      

    }

    #table-container{
        padding-left:300px;
	    margin-bottom:5px;

    }
    #content-tray{
	padding-left:300px;
	margin-bottom:5px;

}
#content{
	position:absolute;
	top:0px;
	width:500px; 
	margin:auto;
	background-color: #FFFFFF;
}

/*left*/

.sidebar {
	border-right-color: #5c913b;
	border-right:1px dashed;
	width: 300px;
	height: 100%; 
	overflow:hidden; 
	position:fixed;
	text-align:justify;
	left:0px;
	top:0px;
	padding:30px;
  background-image: url("assets/background.jpg");
  background-size: contain;
  background-size: 300px 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

}
 .header{
  background-color: #456135;
  font-family: Gilroy-Bold;
  color: #fff;
  text-align: center;
 }

 th{
  font-family: Gilroy-Bold;
 }
 label, td{
  font-family: Gilroy-SemiBold;
 }
 table {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5f7161+0,6d8b74+20,efead8+82,d0c9c0+100 */
background: rgb(95,113,97); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(95,113,97,1) 0%, rgba(109,139,116,1) 20%, rgba(239,234,216,1) 82%, rgba(208,201,192,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(95,113,97,1) 0%,rgba(109,139,116,1) 20%,rgba(239,234,216,1) 82%,rgba(208,201,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(95,113,97,1) 0%,rgba(109,139,116,1) 20%,rgba(239,234,216,1) 82%,rgba(208,201,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f7161', endColorstr='#d0c9c0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 }


          
 #btn1 {
            background-image: linear-gradient(135deg, #5f7161 0%, #6d8b74  51%, #efead8  82%, #d0c9c0  100%);
            padding: 0.5rem;
            text-align: center;
            font-family: Gilroy-Bold;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            margin: 0;
            position: absolute;
            bottom: 15%;
            left: 30%;
            right: 30%;

            transition: 0.5s;
            background-size: 200% auto;
            color: #fff;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          #btn1:hover {
            background-position: right center; /* change the direction of the change here */
            color: black;
            text-decoration: none;
          }
