@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background: #343a40;
    
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

.main-content {
    margin-left: 320px;
    width: calc(100% - 320px);
    padding: 20px;
}

#sidebarToggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: none;
}

.table tbody tr {
  cursor: pointer; /* Changes cursor to pointer on hover */
}

@media (max-width: 992px) {
    .sidebar {
        transform: translateX(-100%);
        position: fixed;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    #sidebarToggle {
        display: block;
    }
}

